.button-filter {
    height: 55px;
    width: 100%;

    input {
        height: 55px;
        width: 399.0px;
        outline-style: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgb(190, 189, 189);
        // border-left: 5px solid transparent;
        text-align: left;
        cursor: pointer;
        font-size: 15px;
        padding-left: 2%;
    }

    // :hover {
    //     border-left: 5px solid black;
    // }
}