.Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1040px;
    width: 100%;
    background-image: url(/src/assets/images/index-background.jpg);
    background-repeat: no-repeat;
    background-position: 42% 0%;
}
